<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Quoting Dojo</title>
</head>
<body>
    <div id='wrapper'>
            <div class='messages'>
                    <% JSON.stringify(messages) %>
                    <% if(messages.quote) { %>
                        <% for (var x of messages.quote) { %>
                         <h3><%= x %></h3>
                        <% } %>
                    <% } %>
                </div>
        <div id='results'>
            <h1>Here are the awsome quotes!</h1>
            <% for (var x in quotes) { %>
                <h3>"<%= quotes[x].quote %>"</h3>
                <h3><%= quotes[x].name + " " + quotes[x].createdAt %></h3>
                <hr>
            <% } %>
        </div>
    </div>
</body>
</html>