<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>EJS Cats</h1>
        </div>
        <div id="photo">
                <a href='/grumpy'><img class="pic" src="catfrown.jpg" alt="Cat Frown"></a>
        </div>
        <div id="photo">
                <a href='/dwarves'><img class="pic" src="catgroup.jpg" alt="Cat Group"></a>
        </div>
        <div id="photo">
                <a href='/tiny'><img class="pic" src="smallcat.jpg" alt="Small Cat"></a>
        </div>
    </div>
</body>
</html>