.messages{
    color: red;
    font-size: 14pt;
}
h1{
    font-size: 20pt;
    margin-bottom: 10px;
}
.addmsg, #results{
    margin-left: 20px;
    margin-top: 20px;
}
h3{
    font-size: 14pt;
}
h4{
    font-size: 12pt;
    color: green;
    margin-top: 5px;
}
h5{
    font-size: 12pt;
    color: green;
}