<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Cats</h1>
        </div>
        <div id="photo">
            <img class="pic" src="images/catfrown.jpg" alt="Cat Frown">
        </div>
        <div id="photo">
            <img class="pic" src="images/catgroup.jpg" alt="Cat Group">
        </div>
        <div id="photo">
            <img class="pic" src="images/smallcat.jpg" alt="Small Cat">
        </div>
    </div>
</body>
</html>