<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Epic Button Game</title>
</head>
<body>
    <div id='message'></div>
    <div id='header'>
        
    </div>
    <div id="count">
        <form class='btncount' action='#' method='post'>
            <input class="button" type="submit" value="Push the epic button">
        </form>
    </div>
    <div id='reset'>
        <form class='btnreset' action='#' method='post'>
            <input class="button" type="submit" value="Reset count">
        </form>
    </div>
</body>
</html>