<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Group Chat</title>
</head>
<body>
    <div id="wrapper">
        <h1>Conversation Board</h1>
        <div id='message'></div>
        <div id="footer">
            <form class='msgentr' action='#' method='post'>
                <input class="msgtext" type="text" name="msgtext">
                <input class="button" type="submit" value="Send">
            </form>
        </div>
    </div>
</body>
</html>