<!--The content below is only a placeholder and can be replaced.-->
<div class='header'>
  <h1>Rate my cakes</h1>
</div>
<div class='form'>
  <form (submit) = 'addNewCake()'>
    <h3>Submit a cake to be rated</h3>
    <hr>
    <label>Baker Name: <input type="text" name="newcake.name" [(ngModel)]="newcake.name"/></label>
    <label>Image Url: <input type='text' name="newcake.url" [(ngModel)]="newcake.url"/></label>
    <input type="submit" value="Submit"/>
  </form>
</div>
<div class='results'>
  <div class='detail' *ngFor='let cake of cakes'>
    <img (click)='displayOneCake(cake._id)' src="{{cake.url}}" height="100" width="100">
    <form (submit)='updateCake(cake._id)'>
        <!-- <label>Stars: <input type="text" name="updatecake.stars" [(ngModel)]="updatecake.stars" /></label> -->
        <select name="updatecake.stars" [(ngModel)]="updatecake.stars">
            <option value="5">5 Stars</option>
            <option value="4">4 Stars</option>
            <option value="3">3 Stars</option>
            <option value="2">2 Stars</option>
            <option value="1">1 Stars</option>
          </select>
        <label>Comment: <input type="text" name="updatecake.comment" [(ngModel)]="updatecake.comment" /></label>
        <input type="submit" value="Update Task" />
        <hr>
    </form>
  </div>
</div>
<div class='nestedshow' *ngIf='scake[0]' >
    <app-cakeshow  [displayOneCake]='scake[0]' [average] = 'cakeavg'></app-cakeshow>
</div>
