.header{
    background-color:lightseagreen;
    border-style: solid;
    border-width: 3px;
    border-color: mediumorchid;
    border-radius: 10px;
    text-align: center;
}
h1{
    font-size: 36pt;
    font-weight: bold;
}
.form, .results{
    display: inline-block;
    width: 40%;
    background-color:lightgreen;
    border-style: solid;
    border-width: 3px;
    border-color: darkorchid;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    overflow: scroll;
}
h3{
    font-size: 16pt
}
label{
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}
.detail{
    margin-top: 5px;
}